 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <br>
                    <!-- <hr class="star-light"> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <br>
                    <p>My name is Patrick John and I am passionate about solving problems using technology.</p>
                    <br>
                    <p>This page showcases some of my recent projects. I hope you find them interesting.</p>
                    <br>
                    <p>I am currently a 3rd Year Undergraduate reading Computer Engineering at Imperial Collge London and will be heading to MIT (2019/20) to complete the final year of my MEng Degree. My CV is available for download in the link below.</p>
                    <br>
                    <p>I enjoy challenging activities — be it mental or physical.</p>
                </div>
          <!--       <div class="col-lg-8 col-lg-offset-2 text-center">
                    <br>
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> CV
                    </a>
                </div> -->
                <div class="social col-lg-8 col-lg-offset-2 text-center">
                    <ul class="list-inline">
                        {% for network in site.social %}
                        <li>
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
